[Desktop Entry]
Encoding=UTF-8
Name=GIANT
Comment=GIANT P2P Cryptocurrency
Comment[fr]=GIANT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GIANT, eşten eşe kriptografik sanal para birimi
Exec=giant-qt %u
Terminal=false
Type=Application
Icon=giant128
MimeType=x-scheme-handler/giant;
Categories=Office;Finance;
