# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit giantd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/giant/giant.conf

[Unit]
Description=GIANT daemon
After=network.target

[Service]
ExecStart=/usr/bin/giantd -daemon -datadir=/var/lib/giant -conf=/etc/giant/giant.conf -pid=/run/giantd/giantd.pid
# Creates /run/giantd owned by giant
RuntimeDirectory=giantd
User=giant
Type=forking
PIDFile=/run/giantd/giantd.pid
Restart=on-failure

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
# Commented out as it's not supported on Debian 8 or Ubuntu 16.04 LTS
#MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
